<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
      
    <!-- 定义受环境影响易变的变量 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="locations">
            <list>
                <value>classpath*:/datasource.properties</value>
                <value>classpath*:/rmi.properties</value>
                <value>classpath*:/mongodb.properties</value>
            </list>
        </property>
    </bean>

    <import resource="classpath:applicationContext-dlt.xml"/>
    <import resource="classpath:applicationContext-ssq.xml"/>
    <import resource="classpath:applicationContext-qxc.xml"/>
    <import resource="classpath:applicationContext-pls.xml"/>
    <import resource="classpath:applicationContext-plw.xml"/>
    <import resource="classpath:applicationContext-esf.xml"/>
    <import resource="classpath:applicationContext-fsd.xml"/>
    <import resource="classpath:applicationContext-qlc.xml"/>
    <import resource="classpath:applicationContext-sfc.xml"/>
    <import resource="classpath:applicationContext-jqc.xml"/>
    
    <import resource="classpath:applicationContext-jc.xml"/>
    <import resource="classpath:applicationContext-kt.xml"/>
    <import resource="classpath:applicationContext-feo.xml"/>
    
    <import resource="classpath:applicationContext-bean.xml"/>
    
    <import resource="classpath:applicationContext-mdb.xml"/>
    <!--<import resource="classpath:applicationContext-rmi.xml"/>-->
    
    <import resource="classpath:applicationContext-jpa.xml"/>
    <import resource="classpath:applicationContext-service.xml"/>
    <import resource="classpath:applicationContext-batch.xml"/>
    
    <import resource="classpath*:applicationContext-money.xml"/>
    
</beans>