<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd




		http://www.springframework.org/schema/batch 
		http://www.springframework.org/schema/batch/spring-batch-2.1.xsd">
    
    <bean id="sealTasklet" class="com.mcp.scheduler.tasklet.SealTasklet" scope="step">
        <property name="gameCode" value="#{jobParameters['gameCode']}"></property>
        <property name="termCode" value="#{jobParameters['termCode']}"></property>
        <property name="iFolder" value="#{jobParameters['iFolder']}"></property>
    </bean>

    <bean id="sealEndTasklet" class="com.mcp.scheduler.tasklet.SealEndTasklet" scope="step">
        <property name="gameCode" value="#{jobParameters['gameCode']}"></property>
        <property name="termCode" value="#{jobParameters['termCode']}"></property>
        <property name="iFolder" value="#{jobParameters['iFolder']}"></property>
    </bean>
    
	<batch:job id="sealJob">
		<batch:step id="sealJob_step1" next="sealJob_step2">
            <batch:tasklet ref="sealTasklet" transaction-manager="batchManager">
            </batch:tasklet>
        </batch:step>
        <batch:step id="sealJob_step2">
            <batch:tasklet ref="sealEndTasklet" transaction-manager="batchManager">
            </batch:tasklet>
        </batch:step>
	</batch:job>
	
</beans>