<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd




		http://www.springframework.org/schema/batch 
		http://www.springframework.org/schema/batch/spring-batch-2.1.xsd">
	
	<bean id="exportTicketTasklet" class="com.mcp.scheduler.tasklet.ExportTicketTasklet" scope="step">
       <property name="gameCode" value="#{jobParameters['gameCode']}"></property>
       <property name="termCode" value="#{jobParameters['termCode']}"></property>
       <property name="gameType" value="#{jobParameters['gameType']}"></property>
    </bean>

    <bean id="generateRefundInfoTasklet" class="com.mcp.scheduler.tasklet.GenerateRefundInfoTasklet" scope="step">
        <property name="gameCode" value="#{jobParameters['gameCode']}"></property>
        <property name="termCode" value="#{jobParameters['termCode']}"></property>
    </bean>
    
    <!-- 导出数据 -->
    <batch:job id="eJob">
    	<batch:step id="eJob_step1" next="eJob_step2">
            <batch:tasklet ref="exportTicketTasklet" transaction-manager="batchManager">
            </batch:tasklet>
        </batch:step>
        <batch:step id="eJob_step2">
            <batch:tasklet ref="generateRefundInfoTasklet" transaction-manager="batchManager">
            </batch:tasklet>
        </batch:step>
    </batch:job>

</beans>